@font-face {
    font-family: "cerebi";
    src: url('fonts/Cerebri Sans Bold Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{display: flex; justify-content: center; margin: 0 ; padding: 0;}
#Maincontainer{background-color: #e9c46a; height: 800px; width: 90%; display: flex; justify-content: center;}

#Innercontainer{
    width: 800px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 2px solid black;

    
    }

#counter{
    font-family: "cerebi";
    font-size: larger;
}
#Space{
    flex-grow: 0.5;
}
p{width: 15px; height: 10px;border: 2px solid wheat;
   position: relative;}
h1{ font-family: "cerebi";
    }

#img2{
    position: relative;
    width: 30px;
    height: 30px;
}    
#img{
    width: 30px;
    height: 30px;
}
#Goodbye{
    margin-left: auto;
}

#Innercontainer2{
    align-self: center;
    width: 800px;
    height: 600px;
    position: absolute;
    border: 3.5px solid #e76f51;
    border-radius: 4px 4px;
  
    
}